*~
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.eggs/

.hydra
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
logs/
tmp/

*.mp4
test_videos/
.vscode/
.idea/
.claude/
rabinizer4/
